{% macro render_field(field) %}
<div class="mb-3">
    {{ field.label(class="form-label fw-semibold") }}
    {{ field(class="form-control") }}

    {% if field.errors %}
        <div class="text-danger mt-1 small">
            {% for error in field.errors %}
                • {{ error }}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endmacro %}

{% macro render_select(field) %}
<div class="mb-3">
    {{ field.label(class="form-label fw-semibold") }}
    {{ field(class="form-select") }}

    {% if field.errors %}
        <div class="text-danger mt-1 small">
            {% for error in field.errors %}
                • {{ error }}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endmacro %}
